@import './mixins';
    li{
        list-style-type: none;
    }

.sidebar {
    &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(179, 177, 177); 
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #FFCC03; 
      }
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    position: fixed;
    height: 70%;
    overflow: auto;
      
    
    &--changeColor{
        background-color: #FFCC03;
        padding: 16px;
        border-radius: 5px;
        // color: #000000;
    }
  }
  
  .sidebar Link {
    display: block;
    color: black;
    // padding: 7px;
  }
   
  
  
  .sidebar Link:hover:not(.active) {
    background-color: #FFCC03;
    color: #060016;
    padding: 16px;
    border-radius: 5px;
  }
  
  div.content {
    margin-left: 270px;
    padding: 1px 16px;
    height: 100%;
  }
  
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.link{
    list-style-type: none;
    text-decoration-line: none;
    color: #000000;
}
.link:hover{
    color: #FFCC03;
}
// NAVBAR STARTS //
.dropdown-menu{
    width: 450px;
    box-shadow: 0 2px 12px rgb(51 51 51 / 10%);
}
.dropdown-item{
    font-size: 18px;
     font-weight: 600 !important;
     color: #333333;
     font-weight: bolder;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
 .nav-item{
    border-bottom: 4px solid #ffffff;
 } 
 .nav-item:hover{
    border-bottom: 4px solid #FFCC03;
}
.navi{
    background-color: rgba(51, 51, 51, 0.1), #ffffff;
    &__logo{
        width: 150px;
    }
    &__dropdown{
        // background-color: blue;
        &--menu{
            background-color: red;
            box-shadow: 0 2px 12px rgb(51 51 51 / 10%);
        }
    }
    &--link{
        color: #000000; 
        font-size: 20px;
        font-weight: 600; 
    }
    &--btn{
       background-color: #FFCC03;
       width: 90px;
       box-shadow: 0 4px 10px rgb(51 51 51 / 10%);
       color: #251e00;
       border-radius: 5px;
       border: none;
       font-weight: 600;
       z-index: 1;
       transition: .3s ease-in-out;
    }
    &--btn:hover{
        @include BtnHover;
    }
    &__menu{
        &--item{ 
            padding: 5px;
            font-size: normal;
        }
        &--link{
            text-decoration-line: none;
            color: #060016;
        }
        &--link:hover{
            color: #060016;
        }
        &--name{
            font-weight: 600;
            font-size: 15px;
            color: #060016;
        }
        &--text{
            font-size: 12px;
        }
        &--item:hover{
            border-left: 5px solid #FFCC03;
            box-shadow: 0px 5px 10px rgba(51, 51, 51, 0.1);
            border-radius: 5px;
            transition:  color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    }
}
// NAVBAR ENDS //

// CIRCLE BG //
 .circleBg{
    background-image: url('../../public/images/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
 }
// CIRCLE BG //
// FOOTER STARTS //
.footer{
    background-color: #060016;
    padding: 30px;
    color: #ffffff;
}
// FOOTER ENDS //

// HERO STARTS //
.hero{
        color: #ffffff;
        padding:  100px;
        height: 100%;
        background-size: cover;
        &--title{
        font-weight: 700;
        font-size: 54px;
        line-height: 4rem;
        margin-bottom: 10px;
    }
    &--text{
        font-size: 20px;
        // padding-top: 10px;
    }
    &--btn{
        @include Btn(10px, 192px, 64px, 600);
        top: 676px;
    }
    &--btn:hover{
        @include BtnHover;
    }
}
// HERO ENDS //

// OURSTORY STARTS // 
.ourstory{
    background-image: url('../../public/images/paths.png');
    background-size: cover;
    &__description{
        padding: 50px;
        &--title{
            font-weight: 700;
            font-size: 42px;
        }
        &--subtitle{
            font-weight: 700;
            font-size: 20px;
            height: 54.76px;
            left: 300px;
        }&--text{
            font-weight: 400;
            font-size: 20px;
            color: #4F4F4F;
            
        }
        &--btn{
            margin-top: 20px;
            @include Btn(10px, 192px, 64px, 600);
            top: 676px;
        }
        &--btn:hover{
            @include BtnHover;
        }
        &--img{
           padding: 90px;
           height: 45vw;
        }
    }
}
// OURSTORY ENDS // 

// MEASURES STARTS //
.measures{
    color: #ffffff;
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),url('../../public/images/bgimage.jpg');
      background-size: cover;
      &--title{
          font-size: 42px;
          font-weight: 700;
          color: #FFCC03;
      }
      &--text{
        font-size: 20px;

      }
      &__description{
        padding: 20px;
        &--subtitle{
            font-size: 52px;
            font-weight: 700;
        }
        &--text{
            font-size: 52px;
            font-weight: 300;
        }
      }
}
// MEASURES ENDS //

// WORKSPACES STARTS //
.workspaces{
    background-color: #FFFCF2;
    &__description{
        &--title{
            font-size: 42px;
            font-weight: 700;
            color: #060016;
            line-height: 64px;
        }
        &--text{
            font-size: 20px;
            font-weight: 400;
            color: #4F4F4F;
        }
        &--btn{
            @include Btn(10px, 225px, 64px, 600);
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
}
// WORKSPACES ENDS //

// PARTNERS STARTS //
.partners{
    padding: 50px;
    &--logo{
        font-weight: 700;
        font-size: 42px;
        background-image: url('../../public/images/circle.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    &--text{
        font-size: 20px;
        color: #4F4F4F;
    }
    &__description{
        background-image: url('../../public/images/joy.jpg');
        background-size: cover;
        padding: 50px;
        width: 80vw;
        color: #ffffff;
        &--title{
            font-weight: 700;
            font-size: 42px;
        }
        &--inp{
            height: 56px; 
        }
        &--btn{
            @include Btn(10px, 192px, 56px, 600);
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
}
// PARTNERS ENDS //

// EVENTS STARTS //
.events{
    &--title{
        font-size: 42px;
        font-weight: 700;
        color: #060016;
    }
    &--text{
        font-size: 20px;
        color: #4F4F4F;
    }
    &__card{
        box-shadow: 0 15px 50px 0 rgb(77 77 77 / 15%);
        &--btn{
            @include Btn(5px, 112px, 35px, 400);
            background-color: #FFFCF2;
            border: none;
            top: 4446px;
            left: 1251px;
            box-shadow: none;
        }
        &--subtitle{
            margin-top: 20px;
            font-weight: 700;
            font-size: 20px;
            color: #060016;
            line-height: 36px;
        }
        &--text{
            @include Btn(10px, 204px, 47px, 400);
            font-size: 18px;
        }
        &--text:hover{
            @include BtnHover;
        }
    }
    &__card:hover{
        box-shadow: 0 4px 8px rgb(0 24 8 / 15%);
        transition: ease-in-out .3s; 
    }
}
// EVENTS ENDS //

// MEDIA STARTS //
.media{
    &--title{
        font-size: 42px;
        color: #060016;
        font-weight: 700;
    }
    &--text{
        font-size: 18px;
        color: #4F4F4F;
    }
}
// MEDIA ENDS //
// Training starts //
.training{
    padding: 40px;
    background-color: rgba(255, 204, 3, 0.05);
&--title{
    font-size: 42px;
    color: #060016;
    font-weight: 700;
}
&--text{
    font-weight: 400;
    color: #4F4F4F;
    font-size: 20px;
}
}
// Training ends //

// CARDS  STARTS //
.cards{
    box-shadow: 0 2px 12px rgb(51 51 51 / 10%);
    &__description{
        &--title{
            font-weight: 700;
            font-size: 24px;
            font-style: bold;
            color: #060016;
        }
        &--text{
            font-size: 16px;
            color: #4F4F4F;
            font-weight: 400;
        }
        &--btn{
            @include Btn(8px, 170px, 50px, 600);
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
}
// CARDS  ENDS //

// VISIONMISSION STARTS //
.visionmission{
    background-color: rgba(255, 204, 3, 0.05);
    &__card{
        background-color: transparent;
        border: 0;
        &--title{
            font-weight: 700;
            font-size: 1.5rem;
            color: #000000;
            margin-bottom: 0.5em;
        }
        &--text{
            font-size: 20px;
            color: #4F4F4F;
        }
        &--img{
            width: 6rem;
        }
    }
}
// VISIONMISSION ENDS //

// VALUES STARTS //
.values{
    background-color: #060016;
    &__top{
        &--title{
            font-weight: 700;
            font-size: 2.5rem;
            color: #FFCC03;
        }
        &--text{
            color: #ffffff;
            font-size: 1.2rem;
        }
    }
    &__card{
        &--subtitle{
            color: #ffffff;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }
        &--text{
            color: #ffffff;
            font-size: 1.1rem;
        }
        &--img{
            width: 4rem;
        }
    }
}
// VALUES ENDS //

// TEAMS STARTS //
.teams{
    background: #FFCC03;
    padding: 50px;
    &--title{
        font-weight: 700;
        color: #060016;
        font-size: 2.2rem;
    }
    &--text{
        font-size: 1.2rem;
    }
}
// TEAMS ENDS //

// BENEFIT STARTS //
.benefit{
    overflow: hidden;
    background-color: #FFFCF2;
    color: #060016;
    &__modal{
        &--title{
            font-weight: 700;
            color: black;
            font-size: 30px;
        }
    }
    &__bottom{
        width: 80%;
    }
    &__header {
        &--title{
        font-weight: 700;
        font-size: 40px;
    }
    &--subtitle{
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
        }
    &__card{
        &--img{
            width: 6rem;
        }
        &--subtitle{
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
    &__cta{
        &--btn{
            @include Btn(10px, 192px, 64px, 600);        
            top:1578px;
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
}
// BENEFIT ENDS //

//ENTERPRENEURS START //
.enterpreneur{
    background-color: #ffffff;
    &--text{
        font-size: 30px;
        font-weight: 700;
        color: #060016;
    }
    &--btn{
        @include Btn(10px, 192px, 64px, 600);  
        margin-left: 42px;
    }
    &--btn:hover{
        @include BtnHover;
    }
    &--img{
        height: 100%;
        width: 100%;
    }
}
//ENTERPRENEURS ENDS //

// TESTIMONIAL STARTS //
.testimonial{
    overflow: hidden;
    &--title{
        font-size: 2rem;
        font-weight: 700;
    }
    &--subtitle{
        font-weight: 700;
    }

}
// TESTIMONIAL ENDS //

// WORKSPACE STARTS //
.workspace{
    padding: 50px 0;
    &--img1{
        height: 851.34px;
        background-image:linear-gradient(rgba(4, 0, 13, 0.1),rgba(4, 0, 13, 0.1)) ,url('../../public/images/cowork/plan1.png');
        background-size: cover;
        width: 625.5px;
        top: 1094px;
        left: 
        300.75px;
    }
    &--img2{
        background-image:linear-gradient(rgba(4, 0, 13, 0.1),rgba(4, 0, 13, 0.1)) ,url('../../public/images/cowork/plan2.png');
        background-size: cover;
        height:486px;
        left: 359.51953125px;
        top: 2337.00390625px;

    }&--img4{
        height:851.34px;
        background-image:linear-gradient(rgba(4, 0, 13, 0.1),rgba(4, 0, 13, 0.1)) ,url('../../public/images/cowork/plan3.png');
        background-size: cover;
        top: 1094px;
        left: 
        300.75px;
    }
    &--img3{
        background-image:linear-gradient(rgba(4, 0, 13, 0.1),rgba(4, 0, 13, 0.1)) ,url('../../public/images/cowork/plan4.png');
        background-size: cover;
        height:486px;
        left: 359.51953125px;
        top: 2337.00390625px;

    }
    &--subtitle{
        padding-top: 60px;
        top: 0;
        bottom: 0;
        text-align: start;
        margin-left: 30px;  
        color: #ffffff;
        font-size: 42px;
        
    }
}
// WORKSPACE ENDS //

// PACKAGES STARTS //
.packages{
    &--title{
        font-weight: 700;
        font-size: 2rem;
    }
    &--text{
        font-size: 20px;
        color: #4F4F4F;
    }
    // &__description{
    //     height: 500px;
       
    // }
    &__card{
        box-shadow: 0 2px 12px rgb(51 51 51 / 10%);
        &--img{
            background: linear-gradient(rgba(4, 0, 13, 0.75)
            rgba(4, 0, 13, 0.1));
            cursor: pointer;
        }
        &--body{
            background-color: red;
        }
        &--subtitle{
            color: #060016;
            font-weight: 700;
            font-style: bold;
            font-size: 24px;
        }
    }
}
// PACKAGES ENDS //

// PACKAGEDETAILS STARTS //
.packagedetails{
    &--title{
        color: #060016;
        font-weight: 700;
        font-size: 40px;
    }
    &--subtitle{
        font-weight: 700;
        color: #333333;
        font-size: 24px;
    }
    &--span{
        font-size: 24px;
        font-weight: 700;
        color: #4F4F4F;
    }
    &--amount{
        font-size: 24px;
        font-weight: 400;
        color: #BDBDBD;
        text-decoration: line-through;
    }
}
// PACKAGEDETAILS ENDS //

// PAYMENT STARTS //
.payment{
    &--title{
        font-size: 40px;
        color: #060016;
        font-weight: 700;
    }
    &--btn{
        @include Btn(10px, 192px, 64px, 600);    
    }
    &--btn:hover{
        @include BtnHover;
    }
    &__card{
        color: #4F4F4F;
        &--title{
            font-weight: 400;
            font-size: 28px;
        }
        &--subtitle{
            font-weight: 700;
            font-size: 24px;
        }
        &--items{
            font-weight: 600;
            font-size: 14px;
        }
        &--btn{
            @include Btn(10px, 192px, 64px, 600);    
        }
        &--btn{
            @include BtnHover;  
        }
    }
}
// PAYMENT ENDS //

// STARTUPS STARTS //
.startup{
    &--title{
        font-size: 60px;
        font-weight: 700;
        color: #060016;
    }
    &--text{
        font-size: 24px;
        font-weight: 400;
        color: #4F4F4F;
    }
    &__card{
        &--img{
            width: 132.5px;
        }
        &--subtitle{
            font-weight: 700;
            font-size: 24px;
            color: #333333;
        }
        &--text{
            font-weight: 400;
            font-size: 15px;
            color: #4F4F4F;
        }
    }
}

// STARTUPS STARTS //
// PARTNERING STARTS //
.partnering{
    // padding: 10px;
    overflow: hidden;
    background-color: #0965D3;
    background-image: url('../../public/images/paths.png');
    &__description{
        &--title{
            color: #ffffff;
            font-weight: 700;
            font-size: 35px;
        }
        &--btn{
            background-color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 10px;
        }
    }
    &--img{
        width: 100%;
        height: 100%;
    }
}
// PARTNERING ENDS //

// STARTUPDETAILS STARTS //
.startupdetails{
    &__description{
        padding: 20px;
        &--title{
            font-weight: 700;
            color: #060016;
            font-style: bold;
            font-size: 28px;
        }
        &--subtitle{
            color: #4F4F4F;
            font-size: 24px;
            font-weight: 700;
        }
    }
    &__card{
        &--img{
            // margin-left: 30px;
        }
    }
}
// STARTUPDETAILS ENDS //

// BROCHURE STARTS
.brochure{
    &--title{
        font-size: 50px;
        font-weight: 700;
        color: #060016;
    }
    &--text{
        font-size: 24px;
        color: #4F4F4F;
    }
    &--btn{
        background-color: #FFCC03;
        border: none;
        padding: 10px;
        color: #060016;
        font-weight: 600;
    }
}
// BROCHURE ENDS

// PROJECTCARD STARTS //
.projectcards{
    // background-color: red;
    &__description{
        background-image: rgba(6, 0, 22, 0.75)
        rgba(255, 255, 255, 0), url('../../public/images/program/project1.png');
        &--card{
            background-image: rgba(6, 0, 22, 0.75)
            rgba(255, 255, 255, 0), url('../../public/images/program/project1.png');
        }
    }
}
// PROJECTCARD ENDS //

// PROJECTDETAILS STARTS //
.projectdetails{
    &__description{
        &--subtitle{
            font-size: 28px;
            font-weight: 700;
            color: #060016;
        }
        &--text{
            font-size: 18px;
        }
        &--btn{
            @include Btn(10px, 192px, 64px, 600);
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
}
// PROJECTDETAILS ENDS //

// PROFITCARDS //
.profitcard{
    box-sizing: 0 2px 12px rgb(51 51 51 / 20%);
    transition: .3s ease-in-out;
    cursor: pointer;
    &--subtitle{
        font-size: 28px;
        color: #060016;
        font-weight: 700;
        border-radius: 5px;
    }
    &--text{
        margin-left: 20px;
        font-size: 18px;
        font-weight: 400;
    }
}
.profitcard:hover{
    box-sizing: 0 2px 12px rgb(51 51 51 / 20%);
    transition: .3s ease-in-out;
}
// PROFITCARDS //

// SERVICES STARTS //
.service{
    &__card{
        box-shadow: 0 2px 12px rgb(51 51 51 / 10%);
        &--span{
            z-index: 1;
            transition: .3s ease-in-out;
            background-color: #FFCC03;
            border-radius: 5px;
            padding: 10px;
            color: #251e00;
            border: 3px solid #FFCC03;
        }
        &--span:hover{
            background-color: #BE9800;
            color: #ffffff;
            border:3px solid #BE9800;
        }
    }
}
// SERVICES ENDS //

// SERVICE PROVIDER STARTS //
.provider{
    &--title{
        font-weight: 700;
        font-size: 35px;
    }
    &__description{
        &--img{
            width: 416px;
        }
        &--subtitle{
            color: #060016;
            font-size: 24px;
            font-weight: 700;
        }
        &--text{
            font-size: 16px;
        }
        &--dash{
            height: 20px;
            background-color: #4F4F4F;
        }
    }
}
// SERVICE PROVIDER ENDS //

// CONSULT STARTS //
.consult{
    background-color: #FFFCF2;
        &--title{
            font-weight: 700;
            color: #4F4F4F;
            font-size: 40px;
        }
        &--text{
            font-size: 18px;
            color: #4F4F4F;
            margin-top: 20px;
        }
        &--btn{
            @include Btn(10px, 192px, 64px, 600);
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
// CONSULT ENDS //

// BRANDS STARTS //
.brands{
    &--title{
        font-size: 40px;
        font-weight: 700;
    }
    &--text{
        font-size: 20px;
        font-weight: 400;
        color: #333333;
    }
    &--img{
        filter: grayscale(100%);
        // transition: .5s ease-in-out;
    }
    &--img:hover{
        transition: .5s ease-in-out;
        filter: grayscale(40%);
    }
}
// BRANDS ENDS //

// TRAINING DETAILS STARTS //
.trainingdetails{
    background-color: rgba(243, 133, 0, 0.05);
    &--title{
        color: #060016;
        font-size: 40px;
        font-weight: 700;
    }
    &--subtitle{
        color: #060016;
        font-size: 24px;
        font-weight: 700;
    }
    &--text{
        color: #4F4F4F;
        font-size: 20px;
    }
}
// TRAINING DETAILS ENDS //

// HEADER STARTS //
.header{
    background-image: url('../../public/images/paths.png');
    background-size: cover;
    padding: 50 0;
    &--title{
        color: #060016;
        font-size: 44px;
        font-weight: 700;
    }
    &--btn{
        @include Btn(10px, 192px, 64px, 600);
    }
    &--btn:hover{
        @include BtnHover;
    }
}
// HEADER ENDS //

// RESOURCES STARTS //
.resources{
    &__description{
        &--title{
            font-weight: 700;
            font-size: 40px;
            color: #060016;
        }
        &--subtitle{
            font-weight: 700;
            font-size: 18px;
            padding: 15px;
            color: #060016;
        }
        &--btn{
            @include Btn(10px, 192px, 64px, 600);
            background-color: 
            #FFF5CF;
        }
        &--btn:hover{
            @include BtnHover;
        }
        &--span{
            font-size: 16px;
        }
        
    }
    &__card{
        box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
    }
    &__card:hover{
        box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1);
        transition: ease-in ease-out 300ms;
    }
}
// RESOURCES ENDS //

// BLOGDETAILS STARTS //
.blogdetails{
    &--title{
        font-weight: 700;
        font-size: 32px;
        color: #060016;
        margin-left: 20px;
    }
    &--subtitle{
        font-size: 25px;
        color: #333333;
        font-weight: 600;
    }
    &--text{
        font-size: 16px;
        color: #4F4F4F;
    }
    &__description{
        padding: 40px;
        &--btn{
            @include Btn(10px, 192px, 64px, 600);
            margin-left: 24px;
        }
    }
    &__card{
        box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
    }
    &__card:hover{
        box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1);
        transition: ease-in ease-out 300ms;
    }
}

// BLOGDETAILS STARTS //

// BOOKING STARTS //
.booking{
    &--title{
        font-size: 40px;
        color: #060016;
        font-weight: 700;
    }
    &--text{
        font-size: 18px;
    }
    &--btn{
        @include Btn(10px, 145px, 64px, 600);
        width: 145px;
    }
    &--btn:hover{
        @include BtnHover;
    }
}

// BOOKING ENDSS //

// EBOOK STARTS //
.ebook{
    &--title{
        font-weight: 700;
        font-size: 40px;
        color: #060016;
    }
    &--text{
        font-size: 20px;
    }
    &__card{
        box-shadow: 0px 2px 12px rgba(51, 51, 51, 0.1);
        &--span{
            margin-left: 150px;
        }
        &--btn{
            @include Btn(10px, 192px, 64px, 600);
        }
        &--btn:hover{
            @include BtnHover;
        }
    }
    &__card:hover{
        box-shadow: 0px 5px 20px rgba(51, 51, 51, 0.1);
        transition: ease-in ease-out 300ms;
    }
}
// EBOOK ENDS //

// FAQS STARTS //
.faq{
    &--title{
        font-weight: 700;
        color: #060016;
        font-size: 40px;
        line-height: 2.8rem;
    }
}
// FAQS ENDS //

// CONTACT US STARTS //
.contacts{
    &--title{
        font-size:42px ;
        color: #060016;
        font-weight: 700;
    }
    &--subtitle{
        color: #060016;
        font-size: 20px;
        font-style: bold;
        font-weight: 700;
    }
    &--btn{
        @include Btn(10px, 192px, 64px, 600);
    }
    &--btn:hover{
        @include BtnHover;
    }
}
// CONTACT US ENDS //

// FOUNDERS STARTS
.card-img-overlay{
    background-color: rgba(6, 0, 22, 0.4);
}
.founders{
    &__description{
        &--title{
            margin-top: 350px;
            font-size: 37px;
            font-weight: 700;
            
        }
    }
}
// FOUNDERS ENDS

// VIDEO STARTS //
.videos{
    background-color: #060016;
    color: #ffffff;
}
// VIDEO ENDS //

// ADMIN DASHBOARD  STARTS// 
.dashboard{
    background-color: #F2F2F2;
    height: 100%;
    overflow: hidden;
}
.impact{
     &--title{
        font-size: 42px;
        font-weight: 700;
        color: #060016;
    }
    &--btn{
        @include Btn(5px, 191px, 52px, 600);
    }
    &--btn:hover{
        @include BtnHover;
    }
    &__card{
        box-shadow: 0px 5px 15px rgba(122, 122, 122, 0.15);
        &--img{
            width: 40px;
            height: 40px;
        }
    }
}
// ADMIN DASHBOARD  ENDS// 

// NOTFOUND STARTS //
.notfound{
    &__content{
        &--btn{
            @include Btn(10px, 192px, 64px, 600);

        }
    }
}
// NOTFOUND ENDS //

// FOOTER STARTS //
.footer{
    background-color: #060016;
    &--line{
        color: #e0e0e0;
        opacity: .75;
    }
    &--socials:hover{
        background-color: #FFCC03;
        border: 2px solid #FFCC03;
    }
    &__top{
       &--title{
        color: #fff;
        font-size: 1.4rem;
       }
       &--text{
        color: #e0e0e0;
        opacity: .75;
        font-size: 1.2rem;
       }
    }
    &__bottom{
        &--icon{
            width: 10rem;
        }
    }
} 
// FOOTER ENDS //
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar Link {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar Link {
      text-align: center;
      float: none;
    }
  }
@media screen and (max-width:600px) {
    .hero{
    padding:  50px;
    height: 50vh;
    &--title{
        font-size: 1.97rem;
        line-height: normal;
    }
    &--text{
        font-size: 1rem;
        line-height: normal;
    }
    &--btn{
        width:120px;
    }
    }
    
    .impact{
        &--title{
            font-size: 35px;
        }
        &--btn{
            width: 145px;
        }
        &__card{
            color: #0965D3;
            overflow: hidden;
        }
    }
    .training{
    &--title{
        font-size: 1.98rem;
    }
    &__description{
        &--title{
            font-size: 1.2rem;
            margin-bottom: 10px;
        }
    }
    }
    .resources{
        &__description{
            &--title{
                font-size: 20px;
                margin-left: 30px;
            }
            &--btn{
                margin-left: 30px;
                width: 180px;
            }
        }
    }
    .blogdetails{
        &--title{
            font-size: 18px;
        }
        &--span{
            font-weight: 500;
        }
    }
}

@media screen and (max-width:900px){
    .hero{
      border: none;  
    }
}

// MEDIA QUERY //